In [45]:
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [62]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamelog
from nba_api.stats.endpoints import commonteamroster
from nba_api.stats.endpoints import playerestimatedmetrics
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import teamplayerdashboard
from nba_api.stats.endpoints import playerdashboardbyyearoveryear

In [64]:
player_test = playerdashboardbyyearoveryear.PlayerDashboardByYearOverYear(player_id='1497')

In [66]:
player_test.get_data_frames()[0]

Empty DataFrame
Columns: [GROUP_SET, GROUP_VALUE, TEAM_ID, TEAM_ABBREVIATION, MAX_GAME_DATE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS]
Index: []

[0 rows x 65 columns]

In [47]:
players_2004 = playerestimatedmetrics.PlayerEstimatedMetrics(season=2004, season_type = 'Regular Season')

In [48]:
json_result = players_2004.get_json()
ini_string = json.dumps(json_result) 
final_dictionary = json.loads(json_result) 
final_dictionary['resultSet'].keys()

dict_keys(['name', 'headers', 'rowSet'])

In [49]:
final_dictionary

{'parameters': {'LeagueID': '00',
  'Season': '2004',
  'SeasonType': 'Regular Season'},
 'resource': 'playerestimatedmetrics',
 'resultSet': {'headers': ['PLAYER_ID',
   'PLAYER_NAME',
   'GP',
   'W',
   'L',
   'W_PCT',
   'MIN',
   'E_OFF_RATING',
   'E_DEF_RATING',
   'E_NET_RATING',
   'E_AST_RATIO',
   'E_OREB_PCT',
   'E_DREB_PCT',
   'E_REB_PCT',
   'E_TOV_PCT',
   'E_USG_PCT',
   'E_PACE',
   'GP_RANK',
   'W_RANK',
   'L_RANK',
   'W_PCT_RANK',
   'MIN_RANK',
   'E_OFF_RATING_RANK',
   'E_DEF_RATING_RANK',
   'E_NET_RATING_RANK',
   'E_AST_RATIO_RANK',
   'E_OREB_PCT_RANK',
   'E_DREB_PCT_RANK',
   'E_REB_PCT_RANK',
   'E_TOV_PCT_RANK',
   'E_USG_PCT_RANK',
   'E_PACE_RANK'],
  'name': 'PlayerEstimatedMetrics',
  'rowSet': []}}

In [50]:
column_names = final_dictionary['resultSet']['headers']
result_rows = final_dictionary['resultSet']['rowSet']
player_season_data = pd.DataFrame(result_rows, columns = column_names)

In [51]:
player_season_data.head()

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, GP, W, L, W_PCT, MIN, E_OFF_RATING, E_DEF_RATING, E_NET_RATING, E_AST_RATIO, E_OREB_PCT, E_DREB_PCT, E_REB_PCT, E_TOV_PCT, E_USG_PCT, E_PACE, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, E_OFF_RATING_RANK, E_DEF_RATING_RANK, E_NET_RATING_RANK, E_AST_RATIO_RANK, E_OREB_PCT_RANK, E_DREB_PCT_RANK, E_REB_PCT_RANK, E_TOV_PCT_RANK, E_USG_PCT_RANK, E_PACE_RANK]
Index: []

[0 rows x 32 columns]

In [52]:
detroit_2004_roster = commonteamroster.CommonTeamRoster(season=2003, team_id = '1610612765')

In [53]:
detroit_2004_roster

In [54]:
json_result = detroit_2004_roster.get_json()
ini_string = json.dumps(json_result) 
final_dictionary = json.loads(json_result) 
final_dictionary['resultSets'][0].keys()

dict_keys(['name', 'headers', 'rowSet'])

In [55]:
column_names = final_dictionary['resultSets'][0]['headers']
result_rows = final_dictionary['resultSets'][0]['rowSet']
df = pd.DataFrame(result_rows, columns = column_names)

In [56]:
df.head()

,TeamID,SEASON,LeagueID,PLAYER,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID
0,1610612765,2003,00,Chauncey Billups,chauncey-billups,1,G,6-3,202,"SEP 25, 1976",27.0,6,Colorado,1497
1,1610612765,2003,00,Ben Wallace,ben-wallace,3,F-C,6-9,240,"SEP 10, 1974",29.0,7,Virginia Union,1112
2,1610612765,2003,00,Mike James,mike-james,7,G,6-2,188,"JUN 23, 1975",29.0,2,Duquesne,2229
3,1610612765,2003,00,Darvin Ham,darvin-ham,8,F-G,6-7,240,"JUL 23, 1973",30.0,6,Texas Tech,1032
4,1610612765,2003,00,Lindsey Hunter,lindsey-hunter,10,G,6-2,195,"DEC 03, 1970",33.0,10,Jackson State,283

In [88]:
for player in df['PLAYER_ID']:
    print(df['PLAYER'][df['PLAYER_ID'] == player].values[0])

Chauncey Billups
Ben Wallace
Mike James
Darvin Ham
Lindsey Hunter
Mehmet Okur
Tayshaun Prince
Tremaine Fowlkes
Rasheed Wallace
Darko Milicic
Richard Hamilton
Corliss Williamson
Elden Campbell

In [108]:
L = []

team_df = pd.DataFrame()
for player in df['PLAYER_ID']:
    player_name = df['PLAYER'][df['PLAYER_ID'] == player].values[0]
    career = playercareerstats.PlayerCareerStats(player_id = player)
    df_player = career.get_data_frames()[0]
    df_year_player = df_player.loc[(df_player['SEASON_ID'].str[-2:] == YEAR[-2:]) &
                              (df_player['TEAM_ID'] == 1610612765)]
    df_year_player['NAME'] = player_name
    L.append(df_year_player)

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [109]:
final_df = pd.concat(L, ignore_index=True)

In [110]:
final_df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,NAME
0,1497,2003-04,00,1610612765,DET,27.0,78,78,2758.0,392,...,35,241,276,446,84,8,189,177,1318,Chauncey Billups
1,1112,2003-04,00,1610612765,DET,29.0,81,81,3054.0,315,...,324,682,1006,138,143,246,123,162,773,Ben Wallace
2,2229,2003-04,00,1610612765,DET,29.0,26,0,512.0,59,...,8,50,58,95,26,1,41,43,165,Mike James
3,1032,2003-04,00,1610612765,DET,30.0,54,2,483.0,37,...,47,46,93,16,13,8,31,63,96,Darvin Ham
4,283,2003-04,00,1610612765,DET,33.0,33,8,659.0,49,...,13,54,67,85,39,6,34,45,117,Lindsey Hunter
5,2246,2003-04,00,1610612765,DET,25.0,71,33,1581.0,251,...,160,261,421,69,36,63,101,138,682,Mehmet Okur
6,2419,2003-04,00,1610612765,DET,24.0,82,80,2702.0,338,...,93,297,390,191,63,69,119,149,841,Tayshaun Prince
7,1762,2003-04,00,1610612765,DET,28.0,36,0,261.0,15,...,18,35,53,14,9,3,12,37,44,Tremaine Fowlkes
8,739,2003-04,00,1610612765,DET,29.0,22,21,673.0,121,...,32,123,155,40,24,45,29,59,302,Rasheed Wallace
9,2545,2003-04,00,1610612765,DET,19.0,34,0,159.0,17,...,11,32,43,7,7,15,13,33,48,Darko Milicic
10,1888,2003-04,00,1610612765,DET,26.0,78,78,2777.0,530,...,78,201,279,310,103,17,210,222,1375,Richard Hamilton
11,722,2003-04,00,1610612765,DET,30.0,79,0,1572.0,304,...,88,168,256,57,30,20,113,204,752,Corliss Williamson
12,922,2003-04,00,1610612765,DET,35.0,65,27,892.0,138,...,52,157,209,45,21,50,63,137,361,Elden Campbell

In [67]:
YEAR = '2004'

In [71]:
career = playercareerstats.PlayerCareerStats(player_id='1497')
df_cb = career.get_data_frames()[0]

In [81]:
df_cb[df_cb['SEASON_ID'].str[-2:] == YEAR[-2:]]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
8,1497,2003-04,00,1610612765,DET,27.0,78,78,2758.0,392,...,0.878,35,241,276,446,84,8,189,177,1318

In [58]:
teams_dashboard = teamplayerdashboard.TeamPlayerDashboard(team_id = '1610612765')

In [59]:
json_result = teams_dashboard.get_json()
ini_string = json.dumps(json_result) 
final_dictionary = json.loads(json_result) 
final_dictionary['resultSets'][0].keys()

dict_keys(['name', 'headers', 'rowSet'])

In [60]:
column_names = final_dictionary['resultSets'][0]['headers']
result_rows = final_dictionary['resultSets'][0]['rowSet']
team_dashboard_df = pd.DataFrame(result_rows, columns = column_names)

In [61]:
team_dashboard_df.head()

Empty DataFrame
Columns: [GROUP_SET, TEAM_ID, TEAM_NAME, GROUP_VALUE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK]
Index: []

[0 rows x 56 columns]